<p>
    <div class="ui mini input">
        <label>
          Filter:
          <input type="text" size="30" ng-model="filterStr" autocorrect="off" autocomplete="off" spellcheck="false">
        </label>
        &nbsp;
        <button ng:click="filterStr = ''" class="ui mini button">Clear</button>
    </div>
</p>

<table id="list" cellspacing="0" class="ui table striped sortable unstackable" sticky-table>
    <thead>
    <tr>
        <th><a ng-click="sortBy = 'level'; sortReverse = !sortReverse">等級</a></th>
        <th><a ng-click="sortBy = 'name'; sortReverse = !sortReverse">名稱</a></th>
        <th><a ng-click="sortBy = 'arcana'; sortReverse = !sortReverse">塔羅牌</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'strength'; sortReverse = !sortReverse">力</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'magic'; sortReverse = !sortReverse">魔</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'endurance'; sortReverse = !sortReverse">耐</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'agility'; sortReverse = !sortReverse">速</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'luck'; sortReverse = !sortReverse">運</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'physicalValue'; sortReverse = !sortReverse">物</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'gunValue'; sortReverse = !sortReverse">槍</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'fireValue'; sortReverse = !sortReverse">火</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'iceValue'; sortReverse = !sortReverse">冰</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'electricValue'; sortReverse = !sortReverse">電</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'windValue'; sortReverse = !sortReverse">風</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'psychicValue'; sortReverse = !sortReverse">念</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'nuclearValue'; sortReverse = !sortReverse">核</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'blessValue'; sortReverse = !sortReverse">祝</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'curseValue'; sortReverse = !sortReverse">咒</a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng:repeat="persona in fullPersonaList | orderBy:sortFunc:sortReverse | filter:filterStr">
        <td>{{persona.level}}</td>
        <td class="left-border"><a href='#/persona/{{persona.name}}'>{{persona.name}}</a></td>
        <td class="left-border">{{persona.arcana}}</td>

        <td class="mobile-hidden left-border">{{persona.strength}}</td>
        <td class="mobile-hidden">{{persona.magic}}</td>
        <td class="mobile-hidden">{{persona.endurance}}</td>
        <td class="mobile-hidden">{{persona.agility}}</td>
        <td class="mobile-hidden">{{persona.luck}}</td>
        <td class="mobile-hidden left-border {{persona.physical}}">{{persona.physical}}</td>
        <td class="mobile-hidden {{persona.gun}}">{{persona.gun}}</td>
        <td class="mobile-hidden {{persona.fire}}">{{persona.fire}}</td>
        <td class="mobile-hidden {{persona.ice}}">{{persona.ice}}</td>
        <td class="mobile-hidden {{persona.electric}}">{{persona.electric}}</td>
        <td class="mobile-hidden {{persona.wind}}">{{persona.wind}}</td>
        <td class="mobile-hidden {{persona.psychic}}">{{persona.psychic}}</td>
        <td class="mobile-hidden {{persona.nuclear}}">{{persona.nuclear}}</td>
        <td class="mobile-hidden {{persona.bless}}">{{persona.bless}}</td>
        <td class="mobile-hidden {{persona.curse}}">{{persona.curse}}</td>
    </tr>
    </tbody>
</table>
